<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- Required meta tags --}}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Bootstrap CSS --}}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {{!-- <title>Document</title> --}}

</head>

<body>
  <div class="container">
    <div class="jumbotron">
      {{!-- added jumbotron to call extra attention to some special content or information --}}

      <h1 class="display-4">MERN PROJECT</h1>
      <p class="lead">User Registration in MERN STACK</p>
      <hr class="my-4">
      <p>mongodb, express, react, node, nodemon, mongoose and hbs </p>
      <a class="btn btn-primary btn-lg" href="http://localhost:3000/register" role="button">Proceed to project</a>
    </div>
  </div>

</body>

</html>

{{!-- used a normal index template from bootstrap docs --}}